# Server Configuration Değiştirmene gerek yok
NODE_ENV=development
PORT=8080
HOST=0.0.0.0

# Database Değiştirmene gerek yok
DATABASE_PATH=/data/app.db

# JWT Configuration bunu yap
# Güvenli bir secret oluştur (terminalde çalıştır):
# openssl rand -base64 32
JWT_SECRET=BURAYA-OPENSSL-ILE-OLUSTURDUGUN-SECRETI-YAZ
JWT_EXPIRES_IN=7d


# OAuth Providers opsiyonel
# Sadece kullanmak istediğin provider'ı doldur.


# Frontend URL (Değiştirmene gerek yok)
FRONTEND_URL=https://localhost


# SSL/TLS Certificates
# docker-compose up çalıştırınca otomatik oluşuyo
# Manuel için
# mkdir -p nginx/certs && openssl req -x509 -nodes -days 365 \
#   -newkey rsa:2048 -keyout nginx/certs/server.key \
#   -out nginx/certs/server.crt -subj "/CN=localhost"
SSL_KEY_PATH=/etc/nginx/certs/server.key
SSL_CERT_PATH=/etc/nginx/certs/server.crt
